@model IEnumerable<AURMS.Models.EventReservation>
@{
    ViewBag.Title = "Event";
}

<link href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

<link href="@Url.Content("~/css/rmsStyle.css")" rel="stylesheet" type="text/css" />

<h2>All Event</h2>

<table style="margin-top: 100px; font-size: 15px;" class="table">
    <tr>
        <th>
            Event ID
        </th>

        <th>
            Name
        </th>

        <th>
            Start Date
        </th>

        <th>
            End Date
        </th>

        <th>
            Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.EventID
            </td>

            <td>
                @item.EventName
            </td>

            <td>
                @item.EventStartDate
            </td>

            <td>
                @item.EventEndDate
            </td>

            <td>
                @item.EventStatus
            </td>
            <td>
                
                @Html.ActionLink("Detail", "EventDetail", new { eventID = item.EventID })
            </td>
        </tr>
    }
</table>


