@model AURMS.Models.RoomInformation

@{
    ViewBag.Title = "RoomDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<link href="@Url.Content("~/Content/cssStyle.css")" rel="stylesheet" type="text/css" />*@


  <div>
    <hr>
    <dl class="dl-horizontal">
        <dt>
            Building
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            Room Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            Open Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            Close time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

    </dl>
</div>
